In [1]:
import numpy as np 
import pandas as pd 
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
%matplotlib inline

In [9]:
data = '''i   Факт  Fitted  Остаток 
1   3113 3094.454  18.546 
4   3083 2943.580 139.420 
6   4063 3494.143 568.857 
10  3018 3111.983 -93.983 
508 3630 3476.914 153.086 
700 2993 3295.398 -302.398'''

In [11]:
df = pd.read_csv(io.StringIO(data), sep='\s+')
df

     i  Факт    Fitted  Остаток
0    1  3113  3094.454   18.546
1    4  3083  2943.580  139.420
2    6  4063  3494.143  568.857
3   10  3018  3111.983  -93.983
4  508  3630  3476.914  153.086
5  700  2993  3295.398 -302.398

In [12]:
sum( (df['Факт'] - df['Факт'].mean())**2)

945233.3333333334

In [13]:
Insurance = pd.read_csv('https://raw.githubusercontent.com/artamonoff/Econometrica/master/python-notebooks/data-csv/3insurance.csv')
Insurance

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [15]:
y = df['insurance']
#x = sm.add_constant(df[['age', 'sex','bmi','children','smoker','region','charges]]) 
#X.head

KeyError: 'insurance'

In [18]:
Insurance['male']=Insurance.apply(lambda x : 1 if x['sex']=='male' else 0,  axis = 1)
Insurance

      age     sex     bmi  children smoker     region      charges  male
0      19  female  27.900         0    yes  southwest  16884.92400     0
1      18    male  33.770         1     no  southeast   1725.55230     1
2      28    male  33.000         3     no  southeast   4449.46200     1
3      33    male  22.705         0     no  northwest  21984.47061     1
4      32    male  28.880         0     no  northwest   3866.85520     1
...   ...     ...     ...       ...    ...        ...          ...   ...
1333   50    male  30.970         3     no  northwest  10600.54830     1
1334   18  female  31.920         0     no  northeast   2205.98080     0
1335   18  female  36.850         0     no  southeast   1629.83350     0
1336   21  female  25.800         0     no  southwest   2007.94500     0
1337   61  female  29.070         0    yes  northwest  29141.36030     0

[1338 rows x 8 columns]